name: Build & Release NewYear

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout репозитория
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Установка JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Сборка Maven
        run: mvn -B package --file pom.xml

      - name: Загрузка артефакта
        uses: actions/upload-artifact@v4
        with:
          name: NewYear
          path: target/*.jar

      - name: Создание GitHub релиза
        uses: softprops/action-gh-release@v2
        with:
          files: target/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
